table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
	padding: 1px 8px;
}

.code { 
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace; 
	font-size: 12px; 
	color: var(--color-text-primary); 
	word-wrap: normal;
	white-space: pre-wrap;
}

.stretch{
	height: 1rem;
	text-align: justify;
	text-justify: inter-word;
	white-space: normal;
}

.stretch:after{
	width:100%;
	content: '';
	display:inline-block;
}

.center{
	text-align: center;
}
