table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
	padding: 1px 8px;
}

.code { 
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace; 
	font-size: 12px; 
	color: var(--color-text-primary); 
	word-wrap: normal;
	white-space: pre-wrap;
}

.center{
	text-align: center;
}

table.subtable, table.subtable th, table.subtable td  {
	table-layout: auto;
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px 3px;
}
